

     
   


   <div class="content_block container h-100">
    <div class="row h-100 justify-content-center align-items-center">
       <div class="col-md-8 text-center">
          <div class="w-100"> <img [src]=authDataInfo.authInfo.rightContentImage alt="" width="249px"> </div>
          <div class="app">
             <div>
             <h3>{{authDataInfo.authInfo.rightContentTitle}}</h3>
             <p>{{authDataInfo.authInfo.rightContentSubTitle}} <br> {{authDataInfo.authInfo.rightContentSubTitle_1}} </p>
             </div>
             <div class="getapp px-4 py-3 w-50 mx-auto"> <span class="pe-3">{{authDataInfo.authInfo.rightContentBtnText}}</span>
                <a href="https://itunes.apple.com/in/app/workruit/id1189752813?mt=8" class="pe-2 transition"><img src="../../../assets/images/auth/ios.svg" alt="ios"></a> 
                <a href="https://play.google.com/store/apps/details?id=com.workruit&amp;hl=en" class="transition"><img src="../../../assets/images/auth/android.svg" alt="android"></a> </div>
          </div>
       </div>
    </div>
 </div>
