<div class="">
    <div class="row py-3 px-3">

        <div class="col-2 text-center pt-2"> <img src="https://devapp.workruit.com/images/icons/non-defined-user.svg">
        </div>
        <div class="col-7">
            <div class="item-title col-10 p-0">
                <div class="item-description d-flex">
                    <span class="mr-4 element-info">Name</span>
                    <span class="">{{cardView.firstname}}</span>
                </div>
                <div class="item-description d-flex">
                    <span class="mr-4 element-info">Email</span>
                    <span class="">{{cardView.firstname}}</span>
                </div>
                <div class="item-description d-flex">
                    <span class="mr-2 element-info">Contact</span>
                    <span class="">{{cardView.firstname}}</span>
                </div>
            </div>
        </div>
        <div class="col-3"></div>

    </div>
    <div class="row item-info py-3 px-3">
        <!-- About -->
        <div class="col-md-2 text-right element-info">About</div>
        <div class="col-md-10">
            <p class="" *ngIf="cardView.coverLetter">Test</p>
        </div>
        <div class="col-md-2 text-right element-info">About</div>
        <div class="col-md-10">
            <p class="" *ngIf="cardView.coverLetter">Test</p>
        </div>
        <div class="col-md-2 text-right element-info">About</div>
        <div class="col-md-10">
            <p class="" *ngIf="cardView.coverLetter">Test</p>
        </div>
       
        
        
    </div>
</div>