<div>
    <app-header></app-header>
    <div class="content h-100 w-100">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-md-4 empty text-center">
                  <h1>{{authDataInfo.messages.welcome_title}}</h1>
                  <h2>{{authDataInfo.messages.welcome_subTitle}}<br>{{authDataInfo.messages.welcome_subTitle_1}}</h2>
                  <a href="#postjob" class="btn btn-primary btn-lg px-5 mt-3" data-event="e_jobs_postajob_web">{{authDataInfo.messages.post_btnTitle}}</a><p></p>
                </div>
              </div>
        </div>
    </div>