<div class="main_container">
    <div class="side_form bg-white py-5 px-5">
        <div class="" tabindex="1">
            <app-logo></app-logo>
            <div class="d-flex h-100 justify-content-center align-items-center">
                <div class="w-100">
                    <h1 class="text-center title">{{authDataInfo.authInfo.reSetTitle}}</h1>
                    <h2 class="description text-center mt-2 description">{{authDataInfo.authInfo.reSetSubTitle}}</h2>
                    <div class="form mt-5">
                        <form [formGroup]="resetpwdForm" (ngSubmit)="onSubmit()">
                            <!-- Email -->
                            <div class="form-group form_spacing">
                              <input type="email" formControlName="username" class="form-control with-icon icon-mail form_control_height"
                                placeholder="{{authDataInfo.placeHolders.loginUserName}}"
                                [ngClass]="{ 'is-invalid': submitted && formGet['username'].errors }">
                              <div *ngIf="submitted && formGet['username'].errors" class="invalid-feedback">
                                <div *ngIf="formGet['username'].errors['required']">{{authDataInfo.errorMessages.loginEmailError}}
                                </div>
                              </div>
                            </div>
                            
                            <div class="form-group form_spacing mt-4">
                              <button type="submit"
                                class="btn btn-primary btn-lg btn_auth btn-block">{{authDataInfo.authInfo.resetText}}</button>
                            </div>
                            <small
                              class="form-text text-muted text-center d-block mt-3 form-bottom w-100">{{authDataInfo.authInfo.loginSubText}}
                              <a data-event="e_signup_header_web"
                                [routerLink]="['/login']">{{authDataInfo.authInfo.loginText}}</a>.</small>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-right-content></app-right-content>
</div>